# Pliki binarne i build
bin/
obj/
*.exe
*.dll
*.pdb
*.appx
*.appxbundle
*.msix
*.msixbundle
*.publish/
*.vs/

# Konfiguracja środowiska
.vscode/
*.user
*.suo
*.cache
*.csproj.user

# Pliki logów i tymczasowe
logs/
*.log
/MovieApp/.vs
/MovieApp/obj
/MovieApp/bin
